In [1]:
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

import seaborn
seaborn.set_context('talk')

from sqlalchemy import create_engine, text

import plotly

**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2024*

----

# Trabajo práctico entregable - parte 1

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

#### Ingesta de datos desde el servidor de la UNC

In [2]:
melb_df = pd.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')


print(melb_df.columns)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [3]:
interesting_cols = [
  'description', 'neighborhood_overview',
  'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
  'price', 'weekly_price', 'monthly_price',
  'latitude', 'longitude',
]
airbnb_df = pd.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
    usecols=interesting_cols)

C:\Users\Fran\AppData\Local\Temp\ipykernel_14936\690598374.py:7: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb_df = pd.read_csv(

## Ejercicio 1 SQL:

1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.

4. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

#### 1. Creación de base de datos SQLite con SQLalchemy
>**Consigna:** 
>
>Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
>https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

In [4]:
# Crea base de datos local 
motor = create_engine("sqlite:///data/melb_data.db")

#### 2. Construir tabla en base al .csv ingestado
Se utiliza el comando de pandas **DataFrame.to_sql** para generar una consulta **SQL** del tipo **DDL** (Data Definition Language o Lenguaje de Definición de Datos) para crear una tabla compatible con los datos obtenidos.

> **Consigna:**
>
> Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus > precios por codigo postal en otra.
>

In [5]:
# Estandarizar el campo zip code para posterior utilización
airbnb_df['zipcode'] = pd.to_numeric(airbnb_df.zipcode, errors='coerce')
airbnb_df['zipcode_int'] = airbnb_df.zipcode.fillna(0).astype('int')
melb_df['zipcode'] = pd.to_numeric(melb_df.Postcode, errors='coerce')
melb_df['zipcode_int'] = melb_df.Postcode.fillna(0).astype('int')


# Creación de tabla llamada users con los datos de melb_data.csv
with motor.begin() as conexion:
    melb_df.to_sql(name="melb_data", con=conexion, if_exists='replace')
    airbnb_df.to_sql(name="airbnb", con=conexion, if_exists='replace')

#### 3. Consultas SQL

> **Consigna:**
>
> Implementar consultas en SQL que respondan con la siguiente información:
>   - cantidad de registros totales por ciudad.
> 
>   - cantidad de registros totales por barrio y ciudad.

**Consultas a ejecutar:**

In [6]:
################################ Cantidad de registros totales por ciudad ################################
sql_totales_ciudad = """SELECT CouncilArea, COUNT(1) AS Cantidad 
FROM melb_data
GROUP BY CouncilArea
ORDER BY CouncilArea ASC;
""" 
########################## Cantidad de registros totales por barrio y ciudad #############################
sql_totales_ciudad_barrio = """SELECT CouncilArea, Suburb, COUNT(1) AS Cantidad 
FROM melb_data
GROUP BY CouncilArea, Suburb
ORDER BY CouncilArea, Suburb ASC;
"""

**Ejecución -> Cantidad de registros totales por ciudad:**

In [7]:
with motor.begin() as conexion:
    rs = conexion.execute(text(sql_totales_ciudad))

for r in rs:
    print(r)

(None, 1369)
('Banyule', 594)
('Bayside', 489)
('Boroondara', 1160)
('Brimbank', 424)
('Cardinia', 8)
('Casey', 38)
('Darebin', 934)
('Frankston', 53)
('Glen Eira', 848)
('Greater Dandenong', 52)
('Hobsons Bay', 434)
('Hume', 164)
('Kingston', 207)
('Knox', 80)
('Macedon Ranges', 7)
('Manningham', 311)
('Maribyrnong', 692)
('Maroondah', 80)
('Melbourne', 470)
('Melton', 66)
('Monash', 333)
('Moonee Valley', 997)
('Moorabool', 1)
('Moreland', 1163)
('Nillumbik', 36)
('Port Phillip', 628)
('Stonnington', 719)
('Unavailable', 1)
('Whitehorse', 304)
('Whittlesea', 167)
('Wyndham', 86)
('Yarra', 647)
('Yarra Ranges', 18)

**Ejecución -> Cantidad de registros totales por ciudad y barrio:**

In [8]:
with motor.begin() as conexion:
    rs = conexion.execute(text(sql_totales_ciudad_barrio))

for r in rs:
    print(r)

(None, 'Abbotsford', 1)
(None, 'Aberfeldie', 4)
(None, 'Airport West', 6)
(None, 'Albanvale', 2)
(None, 'Albert Park', 5)
(None, 'Albion', 3)
(None, 'Alphington', 2)
(None, 'Altona', 5)
(None, 'Altona Meadows', 2)
(None, 'Altona North', 7)
(None, 'Ardeer', 1)
(None, 'Armadale', 9)
(None, 'Ascot Vale', 5)
(None, 'Ashburton', 7)
(None, 'Ashwood', 1)
(None, 'Aspendale', 3)
(None, 'Aspendale Gardens', 2)
(None, 'Attwood', 1)
(None, 'Avondale Heights', 1)
(None, 'Balaclava', 2)
(None, 'Balwyn', 6)
(None, 'Balwyn North', 20)
(None, 'Bayswater', 2)
(None, 'Bayswater North', 3)
(None, 'Beaumaris', 7)
(None, 'Bellfield', 1)
(None, 'Bentleigh', 8)
(None, 'Bentleigh East', 15)
(None, 'Berwick', 2)
(None, 'Black Rock', 4)
(None, 'Blackburn', 8)
(None, 'Blackburn North', 7)
(None, 'Blackburn South', 4)
(None, 'Bonbeach', 3)
(None, 'Boronia', 2)
(None, 'Box Hill', 5)
(None, 'Braybrook', 2)
(None, 'Briar Hill', 3)
(None, 'Brighton', 10)
(None, 'Brighton East', 10)
(None, 'Broadmeadows', 6)
(None, 'Brooklyn', 1)
(None, 'Brunswick', 14)
(None, 'Brunswick East', 8)
(None, 'Brunswick West', 8)
(None, 'Bulleen', 6)
(None, 'Bundoora', 11)
(None, 'Burnside', 2)
(None, 'Burnside Heights', 1)
(None, 'Burwood', 9)
(None, 'Burwood East', 4)
(None, 'Camberwell', 8)
(None, 'Campbellfield', 1)
(None, 'Canterbury', 3)
(None, 'Carlton', 3)
(None, 'Carlton North', 4)
(None, 'Carnegie', 8)
(None, 'Caroline Springs', 2)
(None, 'Carrum Downs', 5)
(None, 'Caulfield East', 1)
(None, 'Caulfield South', 2)
(None, 'Chadstone', 1)
(None, 'Chelsea', 1)
(None, 'Chelsea Heights', 2)
(None, 'Cheltenham', 16)
(None, 'Clarinda', 2)
(None, 'Clayton', 2)
(None, 'Clayton South', 8)
(None, 'Clifton Hill', 5)
(None, 'Coburg', 14)
(None, 'Coburg North', 2)
(None, 'Collingwood', 3)
(None, 'Coolaroo', 2)
(None, 'Craigieburn', 16)
(None, 'Cranbourne', 1)
(None, 'Cremorne', 1)
(None, 'Croydon', 8)
(None, 'Croydon Hills', 2)
(None, 'Croydon North', 1)
(None, 'Dallas', 2)
(None, 'Dandenong', 2)
(None, 'Dandenong North', 3)
(None, 'Deer Park', 4)
(None, 'Delahey', 2)
(None, 'Derrimut', 2)
(None, 'Diamond Creek', 3)
(None, 'Dingley Village', 5)
(None, 'Doncaster', 8)
(None, 'Doncaster East', 14)
(None, 'Donvale', 5)
(None, 'Doreen', 3)
(None, 'Doveton', 2)
(None, 'Eaglemont', 1)
(None, 'Edithvale', 4)
(None, 'Elsternwick', 2)
(None, 'Eltham', 6)
(None, 'Eltham North', 4)
(None, 'Elwood', 5)
(None, 'Epping', 14)
(None, 'Essendon', 12)
(None, 'Essendon North', 2)
(None, 'Fairfield', 4)
(None, 'Fawkner', 5)
(None, 'Ferntree Gully', 8)
(None, 'Fitzroy', 6)
(None, 'Fitzroy North', 6)
(None, 'Flemington', 7)
(None, 'Footscray', 6)
(None, 'Forest Hill', 8)
(None, 'Frankston', 8)
(None, 'Frankston North', 1)
(None, 'Frankston South', 9)
(None, 'Gisborne', 3)
(None, 'Gladstone Park', 8)
(None, 'Glen Huntly', 1)
(None, 'Glen Iris', 23)
(None, 'Glen Waverley', 19)
(None, 'Glenroy', 15)
(None, 'Gowanbrae', 3)
(None, 'Greensborough', 10)
(None, 'Greenvale', 2)
(None, 'Hadfield', 1)
(None, 'Hallam', 1)
(None, 'Hampton', 14)
(None, 'Hampton East', 5)
(None, 'Hampton Park', 1)
(None, 'Hawthorn', 5)
(None, 'Hawthorn East', 4)
(None, 'Heathmont', 5)
(None, 'Heidelberg', 1)
(None, 'Heidelberg Heights', 2)
(None, 'Heidelberg West', 2)
(None, 'Highett', 7)
(None, 'Hillside', 5)
(None, 'Hoppers Crossing', 15)
(None, 'Huntingdale', 3)
(None, 'Hurstbridge', 1)
(None, 'Ivanhoe', 1)
(None, 'Ivanhoe East', 2)
(None, 'Jacana', 3)
(None, 'Kealba', 2)
(None, 'Keilor', 4)
(None, 'Keilor Downs', 4)
(None, 'Keilor East', 19)
(None, 'Keilor Lodge', 1)
(None, 'Keilor Park', 1)
(None, 'Kensington', 1)
(None, 'Kew', 20)
(None, 'Kew East', 11)
(None, 'Keysborough', 2)
(None, 'Kilsyth', 3)
(None, 'Kings Park', 1)
(None, 'Kingsville', 4)
(None, 'Kooyong', 1)
(None, 'Lalor', 14)
(None, 'Langwarrin', 1)
(None, 'Maidstone', 4)
(None, 'Malvern', 5)
(None, 'Malvern East', 6)
(None, 'Maribyrnong', 4)
(None, 'McKinnon', 3)
(None, 'Meadow Heights', 6)
(None, 'Melton', 4)
(None, 'Melton South', 3)
(None, 'Melton West', 3)
(None, 'Mentone', 10)
(None, 'Mernda', 3)
(None, 'Middle Park', 3)
(None, 'Mill Park', 10)
(None, 'Mitcham', 11)
(None, 'Monbulk', 1)
(None, 'Mont Albert', 3)
(None, 'Montmorency', 2)
(None, 'Moonee Ponds', 10)
(None, 'Moorabbin', 4)
(None, 'Mooroolbark', 3)
(None, 'Mordialloc', 3)
(None, 'Mount Evelyn', 1)
(None, 'Mount Waverley', 13)
(None, 'Mulgrave', 11)
(None, 'Murrumbeena', 2)
(None, 'Narre Warren', 1)
(None, 'New Gisborne', 1)
(None, 'Newport', 8)
(None, 'Niddrie', 9)
(None, 'North Melbourne', 5)
(None, 'North Warrandyte', 1)
(None, 'Northcote', 13)
(None, 'Notting Hill', 1)
(None, 'Nunawading', 2)
(None, 'Oak Park', 5)
(None, 'Oakleigh', 4)
(None, 'Oakleigh East', 1)
(None, 'Oakleigh South', 6)
(None, 'Ormond', 9)
(None, 'Parkdale', 7)
(None, 'Pascoe Vale', 10)
(None, 'Plumpton', 1)
(None, 'Point Cook', 4)
(None, 'Port Melbourne', 13)
(None, 'Prahran', 10)
(None, 'Preston', 10)
(None, 'Princes Hill', 1)
(None, 'Reservoir', 36)
(None, 'Richmond', 9)
(None, 'Ringwood', 7)
(None, 'Ringwood East', 3)
(None, 'Ringwood North', 3)
(None, 'Rosanna', 7)
(None, 'Roxburgh Park', 8)
(None, 'Sandringham', 8)
(None, 'Scoresby', 3)
(None, 'Seaford', 2)
(None, 'Seddon', 2)
(None, 'South Melbourne', 9)
(None, 'South Morang', 3)
(None, 'South Yarra', 5)
(None, 'Spotswood', 2)
(None, 'Springvale', 3)
(None, 'Springvale South', 2)
(None, 'St Albans', 5)
(None, 'St Helena', 1)
(None, 'St Kilda', 2)
(None, 'Strathmore', 5)
(None, 'Strathmore Heights', 1)
(None, 'Sunbury', 21)
(None, 'Sunshine', 2)
(None, 'Sunshine North', 8)
(None, 'Sunshine West', 5)
(None, 'Surrey Hills', 11)
(None, 'Tarneit', 1)
(None, 'Taylors Lakes', 4)
(None, 'Templestowe', 4)
(None, 'Templestowe Lower', 8)
(None, 'The Basin', 1)
(None, 'Thomastown', 5)
(None, 'Thornbury', 7)
(None, 'Toorak', 1)
(None, 'Truganina', 1)
(None, 'Tullamarine', 2)
(None, 'Vermont', 4)
(None, 'Vermont South', 5)
(None, 'Viewbank', 3)
(None, 'Wallan', 1)
(None, 'Wantirna', 5)
(None, 'Wantirna South', 9)
(None, 'Warrandyte', 2)
(None, 'Waterways', 1)
(None, 'Watsonia', 3)
(None, 'Watsonia North', 1)
(None, 'Werribee', 13)
(None, 'West Footscray', 9)
(None, 'West Melbourne', 2)
(None, 'Westmeadows', 3)
(None, 'Wheelers Hill', 13)
(None, 'Williams Landing', 1)
(None, 'Williamstown', 7)
(None, 'Williamstown North', 1)
(None, 'Windsor', 5)
(None, 'Wollert', 3)
(None, 'Wyndham Vale', 1)
(None, 'Yallambie', 1)
(None, 'Yarraville', 10)
('Banyule', 'Bellfield', 15)
('Banyule', 'Briar Hill', 5)
('Banyule', 'Bundoora', 13)
('Banyule', 'Eaglemont', 22)
('Banyule', 'Eltham North', 2)
('Banyule', 'Greensborough', 21)
('Banyule', 'Heidelberg', 50)
('Banyule', 'Heidelberg Heights', 76)
('Banyule', 'Heidelberg West', 74)
('Banyule', 'Ivanhoe', 97)
('Banyule', 'Ivanhoe East', 23)
('Banyule', 'Lower Plenty', 5)
('Banyule', 'Montmorency', 15)
('Banyule', 'Preston', 1)
('Banyule', 'Rosanna', 54)
('Banyule', 'St Helena', 2)
('Banyule', 'Viewbank', 38)
('Banyule', 'Watsonia', 49)
('Banyule', 'Watsonia North', 9)
('Banyule', 'Yallambie', 23)
('Bayside', 'Beaumaris', 11)
('Bayside', 'Black Rock', 8)
('Bayside', 'Brighton', 176)
('Bayside', 'Brighton East', 124)
('Bayside', 'Cheltenham', 4)
('Bayside', 'Hampton', 115)
('Bayside', 'Hampton East', 18)
('Bayside', 'Highett', 16)
('Bayside', 'Sandringham', 17)
('Boroondara', 'Ashburton', 53)
('Boroondara', 'Balwyn', 101)
('Boroondara', 'Balwyn North', 151)
('Boroondara', 'Camberwell', 124)
('Boroondara', 'Canterbury', 51)
('Boroondara', 'Deepdene', 2)
('Boroondara', 'Glen Iris', 117)
('Boroondara', 'Hawthorn', 186)
('Boroondara', 'Hawthorn East', 115)
('Boroondara', 'Kew', 157)
('Boroondara', 'Kew East', 38)
('Boroondara', 'Mont Albert', 1)
('Boroondara', 'Surrey Hills', 64)
('Brimbank', 'Albanvale', 4)
('Brimbank', 'Albion', 38)
('Brimbank', 'Ardeer', 2)
('Brimbank', 'Brooklyn', 1)
('Brimbank', 'Cairnlea', 7)
('Brimbank', 'Deer Park', 10)
('Brimbank', 'Delahey', 4)
('Brimbank', 'Derrimut', 3)
('Brimbank', 'Hillside', 1)
('Brimbank', 'Kealba', 17)
('Brimbank', 'Keilor', 5)
('Brimbank', 'Keilor Downs', 11)
('Brimbank', 'Keilor East', 2)
('Brimbank', 'Keilor Lodge', 1)
('Brimbank', 'Keilor Park', 21)
('Brimbank', 'Kings Park', 4)
('Brimbank', 'St Albans', 20)
('Brimbank', 'Sunshine', 109)
('Brimbank', 'Sunshine North', 60)
('Brimbank', 'Sunshine West', 81)
('Brimbank', 'Sydenham', 5)
('Brimbank', 'Taylors Lakes', 18)
('Cardinia', 'Beaconsfield', 2)
('Cardinia', 'Beaconsfield Upper', 1)
('Cardinia', 'Emerald', 1)
('Cardinia', 'Officer', 1)
('Cardinia', 'Pakenham', 3)
('Casey', 'Berwick', 11)
('Casey', 'Cranbourne', 2)
('Casey', 'Cranbourne North', 2)
('Casey', 'Doveton', 5)
('Casey', 'Endeavour Hills', 5)
('Casey', 'Hallam', 4)
('Casey', 'Hampton Park', 3)
('Casey', 'Narre Warren', 6)
('Darebin', 'Alphington', 25)
('Darebin', 'Bundoora', 2)
('Darebin', 'Coburg North', 1)
('Darebin', 'Fairfield', 35)
('Darebin', 'Kingsbury', 13)
('Darebin', 'Northcote', 175)
('Darebin', 'Preston', 228)
('Darebin', 'Reservoir', 323)
('Darebin', 'Thornbury', 132)
('Frankston', 'Carrum Downs', 7)
('Frankston', 'Frankston', 16)
('Frankston', 'Frankston North', 3)
('Frankston', 'Frankston South', 7)
('Frankston', 'Langwarrin', 5)
('Frankston', 'Sandhurst', 1)
('Frankston', 'Seaford', 12)
('Frankston', 'Skye', 2)
('Glen Eira', 'Bentleigh', 131)
('Glen Eira', 'Bentleigh East', 234)
('Glen Eira', 'Brighton East', 4)
('Glen Eira', 'Carnegie', 138)
('Glen Eira', 'Caulfield', 12)
('Glen Eira', 'Caulfield East', 8)
('Glen Eira', 'Caulfield North', 35)
('Glen Eira', 'Caulfield South', 45)
('Glen Eira', 'Elsternwick', 59)
('Glen Eira', 'Elwood', 1)
('Glen Eira', 'Gardenvale', 6)
('Glen Eira', 'Glen Huntly', 16)
('Glen Eira', 'McKinnon', 5)
('Glen Eira', 'Murrumbeena', 80)
('Glen Eira', 'Ormond', 74)
('Greater Dandenong', 'Dandenong', 11)
('Greater Dandenong', 'Dandenong North', 13)
('Greater Dandenong', 'Keysborough', 9)
('Greater Dandenong', 'Noble Park', 12)
('Greater Dandenong', 'Springvale', 6)
('Greater Dandenong', 'Springvale South', 1)
('Hobsons Bay', 'Altona', 69)
('Hobsons Bay', 'Altona Meadows', 4)
('Hobsons Bay', 'Altona North', 49)
('Hobsons Bay', 'Brooklyn', 7)
('Hobsons Bay', 'Newport', 129)
('Hobsons Bay', 'Seabrook', 3)
('Hobsons Bay', 'Seaholme', 6)
('Hobsons Bay', 'South Kingsville', 22)
('Hobsons Bay', 'Spotswood', 27)
('Hobsons Bay', 'Williamstown', 100)
('Hobsons Bay', 'Williamstown North', 18)
('Hume', 'Broadmeadows', 17)
('Hume', 'Campbellfield', 3)
('Hume', 'Coolaroo', 2)
('Hume', 'Craigieburn', 31)
('Hume', 'Dallas', 4)
('Hume', 'Fawkner', 1)
('Hume', 'Gladstone Park', 12)
('Hume', 'Greenvale', 15)
('Hume', 'Jacana', 22)
('Hume', 'Meadow Heights', 11)
('Hume', 'Roxburgh Park', 7)
('Hume', 'Sunbury', 17)
('Hume', 'Tullamarine', 11)
('Hume', 'Westmeadows', 11)
('Kingston', 'Aspendale', 4)
('Kingston', 'Aspendale Gardens', 2)
('Kingston', 'Bonbeach', 1)
('Kingston', 'Carrum', 9)
('Kingston', 'Chelsea', 4)
('Kingston', 'Chelsea Heights', 2)
('Kingston', 'Cheltenham', 26)
('Kingston', 'Clarinda', 2)
('Kingston', 'Clayton South', 3)
('Kingston', 'Dingley Village', 16)
('Kingston', 'Edithvale', 5)
('Kingston', 'Hampton East', 2)
('Kingston', 'Highett', 4)
('Kingston', 'Mentone', 16)
('Kingston', 'Moorabbin', 60)
('Kingston', 'Mordialloc', 15)
('Kingston', 'Oakleigh South', 18)
('Kingston', 'Parkdale', 17)
('Kingston', 'Waterways', 1)
('Knox', 'Bayswater', 12)
('Knox', 'Boronia', 12)
('Knox', 'Ferntree Gully', 14)
('Knox', 'Knoxfield', 4)
('Knox', 'Rowville', 10)
('Knox', 'Scoresby', 5)
('Knox', 'The Basin', 3)
('Knox', 'Wantirna', 7)
('Knox', 'Wantirna South', 13)
('Macedon Ranges', 'Bullengarook', 1)
('Macedon Ranges', 'Gisborne', 5)
('Macedon Ranges', 'Riddells Creek', 1)
('Manningham', 'Bulleen', 65)
('Manningham', 'Doncaster', 108)
('Manningham', 'Doncaster East', 27)
('Manningham', 'Donvale', 8)
('Manningham', 'Templestowe', 15)
('Manningham', 'Templestowe Lower', 84)
('Manningham', 'Warrandyte', 3)
('Manningham', 'Wonga Park', 1)
('Maribyrnong', 'Braybrook', 44)
('Maribyrnong', 'Footscray', 126)
('Maribyrnong', 'Kingsville', 30)
('Maribyrnong', 'Maidstone', 90)
('Maribyrnong', 'Maribyrnong', 92)
('Maribyrnong', 'Seddon', 60)
('Maribyrnong', 'West Footscray', 96)
('Maribyrnong', 'Yarraville', 154)
('Maroondah', 'Bayswater North', 5)
('Maroondah', 'Croydon', 25)
('Maroondah', 'Croydon Hills', 2)
('Maroondah', 'Croydon North', 6)
('Maroondah', 'Croydon South', 1)
('Maroondah', 'Heathmont', 11)
('Maroondah', 'Kilsyth', 1)
('Maroondah', 'Ringwood', 13)
('Maroondah', 'Ringwood East', 9)
('Maroondah', 'Ringwood North', 7)
('Melbourne', 'Carlton', 48)
('Melbourne', 'Docklands', 3)
('Melbourne', 'East Melbourne', 22)
('Melbourne', 'Flemington', 1)
('Melbourne', 'Kensington', 111)
('Melbourne', 'Melbourne', 46)
('Melbourne', 'North Melbourne', 76)
('Melbourne', 'Parkville', 31)
('Melbourne', 'Port Melbourne', 23)
('Melbourne', 'South Yarra', 40)
('Melbourne', 'Southbank', 40)
('Melbourne', 'West Melbourne', 29)
('Melton', 'Brookfield', 1)
('Melton', 'Burnside Heights', 2)
('Melton', 'Caroline Springs', 9)
('Melton', 'Diggers Rest', 2)
('Melton', 'Hillside', 12)
('Melton', 'Kurunjang', 4)
('Melton', 'Melton', 8)
('Melton', 'Melton South', 15)
('Melton', 'Melton West', 5)
('Melton', 'Rockbank', 1)
('Melton', 'Taylors Hill', 7)
('Monash', 'Ashwood', 45)
('Monash', 'Burwood', 14)
('Monash', 'Chadstone', 34)
('Monash', 'Clayton', 11)
('Monash', 'Glen Waverley', 26)
('Monash', 'Hughesdale', 35)
('Monash', 'Huntingdale', 4)
('Monash', 'Mount Waverley', 44)
('Monash', 'Mulgrave', 18)
('Monash', 'Notting Hill', 2)
('Monash', 'Oakleigh', 43)
('Monash', 'Oakleigh East', 10)
('Monash', 'Oakleigh South', 34)
('Monash', 'Wheelers Hill', 13)
('Moonee Valley', 'Aberfeldie', 40)
('Moonee Valley', 'Airport West', 61)
('Moonee Valley', 'Ascot Vale', 125)
('Moonee Valley', 'Avondale Heights', 73)
('Moonee Valley', 'Essendon', 208)
('Moonee Valley', 'Essendon North', 20)
('Moonee Valley', 'Essendon West', 26)
('Moonee Valley', 'Flemington', 54)
('Moonee Valley', 'Keilor East', 100)
('Moonee Valley', 'Kensington', 5)
('Moonee Valley', 'Moonee Ponds', 139)
('Moonee Valley', 'Niddrie', 73)
('Moonee Valley', 'Strathmore', 58)
('Moonee Valley', 'Strathmore Heights', 5)
('Moonee Valley', 'Travancore', 10)
('Moorabool', 'Bacchus Marsh', 1)
('Moreland', 'Brunswick', 208)
('Moreland', 'Brunswick East', 80)
('Moreland', 'Brunswick West', 102)
('Moreland', 'Coburg', 176)
('Moreland', 'Coburg North', 53)
('Moreland', 'Fawkner', 96)
('Moreland', 'Fitzroy North', 3)
('Moreland', 'Glenroy', 144)
('Moreland', 'Gowanbrae', 21)
('Moreland', 'Hadfield', 61)
('Moreland', 'Oak Park', 58)
('Moreland', 'Pascoe Vale', 161)
('Nillumbik', 'Diamond Creek', 3)
('Nillumbik', 'Eltham', 19)
('Nillumbik', 'Eltham North', 7)
('Nillumbik', 'Greensborough', 5)
('Nillumbik', 'Hurstbridge', 1)
('Nillumbik', 'North Warrandyte', 1)
('Port Phillip', 'Albert Park', 64)
('Port Phillip', 'Balaclava', 25)
('Port Phillip', 'Elwood', 125)
('Port Phillip', 'Middle Park', 31)
('Port Phillip', 'Port Melbourne', 117)
('Port Phillip', 'Ripponlea', 9)
('Port Phillip', 'South Melbourne', 76)
('Port Phillip', 'Southbank', 1)
('Port Phillip', 'St Kilda', 160)
('Port Phillip', 'Windsor', 20)
('Stonnington', 'Armadale', 86)
('Stonnington', 'Glen Iris', 55)
('Stonnington', 'Kooyong', 1)
('Stonnington', 'Malvern', 62)
('Stonnington', 'Malvern East', 111)
('Stonnington', 'Prahran', 113)
('Stonnington', 'South Yarra', 157)
('Stonnington', 'Toorak', 99)
('Stonnington', 'Windsor', 35)
('Unavailable', 'Hampton', 1)
('Whitehorse', 'Blackburn', 13)
('Whitehorse', 'Blackburn North', 7)
('Whitehorse', 'Blackburn South', 8)
('Whitehorse', 'Box Hill', 54)
('Whitehorse', 'Burwood', 61)
('Whitehorse', 'Burwood East', 12)
('Whitehorse', 'Forest Hill', 14)
('Whitehorse', 'Mitcham', 19)
('Whitehorse', 'Mont Albert', 30)
('Whitehorse', 'Nunawading', 18)
('Whitehorse', 'Surrey Hills', 50)
('Whitehorse', 'Vermont', 10)
('Whitehorse', 'Vermont South', 8)
('Whittlesea', 'Bundoora', 10)
('Whittlesea', 'Doreen', 3)
('Whittlesea', 'Epping', 38)
('Whittlesea', 'Lalor', 28)
('Whittlesea', 'Mernda', 6)
('Whittlesea', 'Mill Park', 33)
('Whittlesea', 'South Morang', 18)
('Whittlesea', 'Thomastown', 24)
('Whittlesea', 'Whittlesea', 1)
('Whittlesea', 'Wollert', 6)
('Wyndham', 'Hoppers Crossing', 23)
('Wyndham', 'Point Cook', 9)
('Wyndham', 'Tarneit', 9)
('Wyndham', 'Truganina', 4)
('Wyndham', 'Werribee', 37)
('Wyndham', 'Williams Landing', 1)
('Wyndham', 'Wyndham Vale', 3)
('Yarra', 'Abbotsford', 55)
('Yarra', 'Alphington', 7)
('Yarra', 'Burnley', 7)
('Yarra', 'Carlton North', 44)
('Yarra', 'Clifton Hill', 52)
('Yarra', 'Collingwood', 62)
('Yarra', 'Cremorne', 24)
('Yarra', 'Fairfield', 4)
('Yarra', 'Fitzroy', 53)
('Yarra', 'Fitzroy North', 84)
('Yarra', 'Princes Hill', 4)
('Yarra', 'Richmond', 251)
('Yarra Ranges', 'Chirnside Park', 2)
('Yarra Ranges', 'Healesville', 1)
('Yarra Ranges', 'Montrose', 1)
('Yarra Ranges', 'Mooroolbark', 9)
('Yarra Ranges', 'Mount Evelyn', 1)
('Yarra Ranges', 'Silvan', 2)
('Yarra Ranges', 'Upwey', 1)
('Yarra Ranges', 'Yarra Glen', 1)

#### 4. Consulta SQL: JOINS 

> **Consigna:**
>
> Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase. 

**Consulta SQL:**

In [9]:
sql_join = """SELECT * FROM melb_data JOIN airbnb 
ON melb_data.zipcode_int = airbnb.zipcode_int"""

**Ejecución:**

In [13]:
with motor.begin() as conexion:
    rs = conexion.execute(text(sql_join))

# Muestra los primeros 10 elementos de la consulta
count = 10
for r in rs:
    print(r)
    count -= 1
    if count <= 0: break

(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 96, 'This is a space to enjoy, a place to come and read a little, dream a little, reflect a little. It is light, quirky, and quiet, only a stones through  ... (702 characters truncated) ... ome of Melbourne’s most celebrated bar’s and eateries. The Everleigh, Culter & Co, Saint Crispin, Huxtaburger, Po Boy Quarter, Forester’s Pub & Dinin', 'I love Abbotsford for its mix of local characters. There is no describable demographic but a wide range of ages, ethnicities and socio economic backg ... (167 characters truncated) ... tique beer and designer icecream all within walking distance. Then you can  go home and relax in your own little nest, in this quiet backstreet/lane.', 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', 3067.0, -37.80523392, 144.9951794, 125, 1100.0, None, 3067)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 223, "Melbourne Inner city living at its very best!! Be in the heart of all the action yet in this beautifully renovated four bedroom home you'll be surrou ... (702 characters truncated) ... bed in each of the two other bedrooms. The lounge can convert into a comfortable double bed in one of two lounge rooms, family bathroom with full siz", None, 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', 3067.0, -37.8033889, 144.994541, 400, 2085.0, None, 3067)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 304, "Set in a relaxing, bright city garden, complete with towering palm and an abundant orange tree, the room is separate from the main house, and has acc ... (702 characters truncated) ... travel cot that we can set up in the room, and can put some bedding on it, too, but it's probably best to bring some of your own. We are happy to pro", "Within a minute or two walk are several excellent cafes: Admiral Cheng-Ho, Dr Morse, and Mavis the Grocer. There are three great pubs that also do ho ... (346 characters truncated) ... treet being Melbourne's foremost destination for Vietnamese cuisine, and Smith and Brunswick street having some of Melbourne's trendiest restaurants.", 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', 3067.0, -37.79828105, 144.999041, 84, 400.0, None, 3067)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 565, 'Cosy furnished single bedroom in a retro flat. Shared comfortable lounge, kitchen, bathroom & laundry. Busy street, double-glazed windows. Close to V ... (702 characters truncated) ... Own bedroom, single bed inc linen, clothes rail, drawers, desk & chair. Living areas shared:  Lounge has couches, Freeview TV/DVD player/video player', 'Close to Smith St Collingwood, Brunswick St Fitzroy and Victoria St Richmond Nth. Ideal for access to the City. Many public transport options. Post O ... (174 characters truncated) ... ps, services and restaurants. Smith St is a bit further, with a supermarket, banks, post office, and many cafés, restaurants and diverse funky shops.', 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', 3067.0, -37.80549048, 144.9929162, 60, 300.0, 1000.0, 3067)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 627, "My place is close to the Yarra River and the famous Abbotsford Convent. You’ll love my place because the area is green, safe and quiet and only 12 mi ... (702 characters truncated) ... ng space. Desk, chair and lamp provided. IGA 4 mins walk. Woolworths, ALDI and a large shopping center 15 min walk. Yarra river and Yarra Bend Park a", 'IGA 4 mins walk. Woolworths, ALDI and a large shopping center 15 min walk. Yarra river and Yarra Bend Park and Captial City Trail 2 min walk. Abbotsford Convent 5 min walk. Free parking outside.', 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', 3067.0, -37.79907667, 144.9990543, 57, 344.0, 1217.0, 3067)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 681, 'Private room with Queen bed + a rollaway bed & minibar in Beautiful Mansion Can sleep 3 people. Good room size 12sqm Free parking 5pm-9am. 2P Otherwi ... (702 characters truncated) ...  This booking is for the superior private room with queen bed, not the little double room. All queen rooms are about 10-12sqm in size, fully equipped', "One thing I often get is people don't realize how good this location is until they arrive. 10 minutes walk to the famous Abbotsford convent, close to ... (396 characters truncated) ... m and farmers market etc This house is amazingly located on a quiet tree-lined street sandwiched in the middle of all above. Come see for yourself =)", 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', 3067.0, -37.80977357, 144.9955951, 60, 360.0, 1440.0, 3067)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 730, 'Free internet, street parking, bicycle. Via AirBnB, and phone.  The Abbotsford convent. Near Collingwood and Richmond.  Collingwood station 2mins walk. 7 mins train ride to the city.', None, 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', 3067.0, -37.80291654, 144.9932714, 120, 700.0, None, 3067)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 766, 'Set on a peaceful street in the beautiful area of Abbotsford, Arthouse is a family-friendly, pet-friendly, spacious and stylish property with the ben ... (702 characters truncated) ... cular kitchen with high end appliances and a dining area that overlooks the private garden. Speaking of the garden, this property really lets you bri', 'The location is second to none, situated just meters from the Yarra River, Victoria St dining precinct and close to the MCG, AAMI Stadium and Rod Lav ... (211 characters truncated) ... rning coffee at nearby cafe, Three Bags Full and select from the multitude of Vietnamese eateries just a short stroll away at nearby Victoria Street.', 'Abbotsford, Melbourne, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford, Melbourne', 'Victoria', 3067.0, -37.80724462, 144.9961224, 260, 3248.0, 11011.0, 3067)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 862, "Immaculately styled home that has just been renovated.  An Abbotsford gem that leaves guests wanting for nothing. This is a great house for a couple  ... (702 characters truncated) ... with trains, trams and buses on your doorstep. Cricket in December and the tennis in Jan are both walking distance, The Abbotsford Convent, Collingwo", "The house is located two streets down from a beautiful park; provides immediate access to trains, buses and trams; is only a 20 minute walk to the fa ... (248 characters truncated) ... ing some of the best pubs, bars and restaurants Melbourne has to offer.  Abbotsford is undoubtedly one of the best locations for a stay in Melbourne.", 'Abbotsford, VIC, Australia', 'Abbotsford', 'Yarra', 'Abbotsford', 'VIC', 3067.0, -37.80626949, 144.9971645, 199, 1200.0, 4600.0, 3067)
(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067.0, 3067, 877, "Trendy, modern, central fully furnished, 2 bedroom, 2 bathroom spacious resort apartment right on the Yarra River with great Melbourne River and City ... (702 characters truncated) ... d more. This is the ultimate cosmopolitan retreat!!  The first of this high quality in Melbourne right on the Yarra River!!! Rates include all taxes,", "This stunning apartment is set within state of the art resort/health & well-being retreat setting with a heated lap pool, spa, hot tubs & sun deck on ... (296 characters truncated) ... on the Yarra River!!! Across the road is the Victoria Gardens Shopping Centre with Ikea, K-mart, Restaurants, Shops, Cafes, Movies, Supermarket, etc.", 'Abbotsford, VIC, Australia', 'Richmond', 'Yarra', 'Abbotsford', 'VIC', 3067.0, -37.81265596, 145.013688, 174, None, None, 3067)

## Ejercicio 3:
> **Consigna:**
> 
> Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

La base de datos ya se encuentra creada en el archivo **data/melb_data.db**.

In [14]:
# 
# 49 columnas
# data_join_df = pd.DataFrame(rs.fetchall())
# data_join_df.columns = rs.keys()
# data_join_df.head(5)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,city,suburb,state,zipcode,latitude,longitude,price,weekly_price,monthly_price,zipcode_int
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,Yarra,Abbotsford,VIC,3067.0,-37.806069,144.992879,109,NaN,NaN,3067
1,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,Yarra,Abbotsford,VIC,3067.0,-37.797689,144.998456,65,416.0,1645.0,3067
2,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,Yarra,Abbotsford,VIC,3067.0,-37.809459,145.002082,120,800.0,NaN,3067
3,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,Yarra,Abbotsford,VIC,3067.0,-37.799789,144.998396,100,NaN,NaN,3067
4,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,Yarra,Abbotsford,Victoria,3067.0,-37.810151,145.002527,80,NaN,2000.0,3067

## Ejercicio 2 - Pandas:

1. Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar las columnas seleccionadas y las que no lo fueron.

   - Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.


2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico.
  
3. Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana o el mínimo.
4. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.
5. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. **NO** es necesario que realicen la implementación.

Pueden leer otras columnas del conjunto de AirBnB además de las que están en `interesting_cols`, si les parecen relevantes.

#### 1. Columnas relevantes

 > **Consigna:**
 >
 > Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar las columnas seleccionadas y las que no lo fueron.
 >
 >  - Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.

#### 2. Información adicional del entorno

 > **Consigna:**
 > Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico.

#### 3. Selección y adaptación de variables

 > **Consigna:**
 >
 > Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana o el mínimo.

#### 4. Filtrar ZipCodes relevantes

 > **Consigna:**
 >
 >  Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.

#### 5. Investigar variables útiles (sin implementación)

 > **Consigna:**
 >
 > Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores > expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus > coordenadas geográficas. **NO** es necesario que realicen la implementación.

## Ejercicios opcionales:

1. Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa del proceso y luego un main que corra todos los pasos requeridos.

2. Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)

#### 1. ETL - Diagrama del pipeline

> **Consigna:**
> 
> Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa  del proceso y luego un main que corra todos los pasos requeridos.
 

:::mermaid
graph LR
A[melb_data.csv] -.-> C(EXTRACT)
B[melb_data.csv] -.-> C
subgraph ETL.py
C --> D(TRANSFORM)
D --> E(LOAD)
end
E -.-> F[output_data.csv]
:::

#### 2. DAG - Apache AirFlow

> **Consigna:**
>
> Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)